include ../default/head

body
  block main_menu
      include ../default/menu.jade

  div.container
    table
      ul
        each val, index in ['groups page', 'groups page']
          li= index + ': ' + val
      //- ul#showMenuJson

      //- ul#showGroupJson
      //- ul#showGroupList
      //- ul
        li 
          button(onclick='update("","new")') 新增
          input(type='text',name='system_parameter',value='#{user_login_system_parameter}')
          input(type='hidden',name='_id',value="")
        
        li name=
          input(type='text',name='name')
        li E-mail=
          input(type='text',name='email',placeholder='Account',)
        li paword=
          input(type='password',name='pwd',placeholder='Password')
        li company=
          input(type='text',name='company_id')
        li available_date=
          input(type='text',name='available_date')
        li group=
          input(type='text',name='group_id')
      //- form(action='/users',method='get')
        ul
          li
            input(type='text',id="name_search",name='name_search',value='#{nameSearchValue?nameSearchValue:""}')
            span#origin.ui-autocomplete-term
            input(type='submit',value='Search',data-transition='fade', data-theme='c') 
            //- button(onclick='search()') 查詢
      ul
        mixin groupTree(tree,parentId)
          for node, index in tree
            ul
              li= '['+parentId+']<-(parentId) '+node.name+'(this.id='+node._id+')'
                ul rank=#{node.rank}
              if node.group
                +groupTree(node.group,node._id)

      if(groups)  
          +groupTree(groups,null)

      ul
        li 
          button(onclick='update("","new")') 新增
          input(type='text',name='system_parameter',value='#{user_login_system_parameter}',disabled=true)
          input(type='text',name='_id',value="#{genId}")
        
        li parent_id=
          input(type='text',name='parent_id')
        li name=
          input(type='text',name='name',placeholder='請輸入 群組名稱')

      //- each group,index in groups
        ul
          li 第#{index}筆資料
          li uuid=
            input(type='text',name='#{index}name',value='#{group.name}')
          //- li email=
            input(type='text',name='#{index}email',value='#{user.email}',disabled=true)
          //- li available_date=
            input(type='text',name='#{index}available_date',value='#{user.available_date}')
          //- li group_id=
            input(type='text',name='#{index}group_id',value='#{user.group_id}')
          //- li company=
            input(type='text',name='#{index}company_id',value='#{user.company_id?user.company_id:""}',disabled=true)
            ,group=
            input(type='text',name='#{index}group_id',value='#{user.group_id?user.group_id:""}')
          //- li fax=
          //-   input(type='text',name='#{index}fax',value='#{user.fax}')
          //- li url=
          //-   input(type='text',name='#{index}url',value='#{user.url}')
          //-   ,id_number=
          //-   input(type='text',name='#{index}id_number',value='#{user.id_number}')


      script(type='text/javascript').
        var update = function (opt_id,act){
          $.ajax({
            type:'POST',
            url:'/groups/'+act,
            data: {
              '_id':$('input[name='+opt_id+'_id]').val(),
              'system_parameter':$('input[name='+opt_id+'system_parameter]').val(),
              'name':$('input[name='+opt_id+'name]').val().trim(),
              'parent_id':$('input[name='+opt_id+'parent_id]').val()?$('input[name='+opt_id+'parent_id]').val():null
            },
            success:function(data){
                window.location = data.redirect;
            },
            error:function(err){
              console.log(err);
            }
          });
        }

        $(document).ready(function(){

          $.ajax({
            type:'GET',
            url:'/groupListBySys',
            success:function(data){
              $('#showGroupList').text(JSON.stringify(data));
            },
            error:function(err){
              console.log(err);
            }
          });
        });
