include ../default/head

body
  block main_menu
      include ../default/menu.jade

  div.container
    table
      ul
        each val, index in ['user page', 'user page', 'user page']
          li= index + ': ' + val
      ul#showMenuJson

      ul#showGroupJson
      ul#showGroupList
      ul
        li 
          button(onclick='update("","new")') 新增
          input(type='hidden',name='system_parameter',value=0)
          input(type='hidden',name='_id',value="")
        
        li name=
          input(type='text',name='name')
        li E-mail=
          input(type='text',name='email',placeholder='Account',)
        li paword=
          input(type='password',name='pwd',placeholder='Password')
        li company=
          input(type='text',name='company_id')
        li group=
          input(type='text',name='group_id')
      form(action='/users',method='get')
        ul
          li
            input(type='text',id="name_search",name='name_search',value='#{nameSearchValue?nameSearchValue:""}')
            //- span#name_search.ui-autocomplete-term $1
            input(type='submit',value='Search',data-transition='fade', data-theme='c') 
            //- button(onclick='search()') 查詢
      each user,index in users
        ul
          button(onclick='update(#{index},"edit")') 修改
          &nbsp;&nbsp;&nbsp;
          button(onclick='update(#{index},"remove")') 刪除
          li 第#{index}筆資料
          li uuid=
            input(type='text',name='#{index}_id',value='#{user._id}')
            input(type='hidden',name='#{index}system_parameter',value='#{user.system_parameter}')
            ,name=
            input(type='text',name='#{index}name',value='#{user.name?user.name:""}')
          li email=
            input(type='text',name='#{index}email',value='#{user.email}',disabled=true)
          //- li company=
            input(type='text',name='#{index}company_id',value='#{user.company_id?user.company_id:""}',disabled=true)
            ,group=
            input(type='text',name='#{index}group_id',value='#{user.group_id?user.group_id:""}')
          //- li fax=
          //-   input(type='text',name='#{index}fax',value='#{user.fax}')
          //- li url=
          //-   input(type='text',name='#{index}url',value='#{user.url}')
          //-   ,id_number=
          //-   input(type='text',name='#{index}id_number',value='#{user.id_number}')


      script(type='text/javascript').
        var update = function (opt_id,act){
          $.ajax({
            type:'POST',
            url:'/users/'+act,
            data: {
              '_id':$('input[name='+opt_id+'_id]').val(),
              'system_parameter':$('input[name='+opt_id+'system_parameter]').val(),
              'name':$('input[name='+opt_id+'name]').val().trim(),
              'email':$('input[name='+opt_id+'email]').val(),
              'pwd':$('input[name='+opt_id+'pwd]').val(),
              'company_id':$('input[name='+opt_id+'company_id]').val(),
              'group_id':$('input[name='+opt_id+'group_id]').val()
            },
            success:function(data){
                window.location = data.redirect;
            },
            error:function(err){
              console.log(err);
            }
          });
        }

        var del = function (val){
          alert('success...'+val);
        }
        $(document).ready(function(){
        
          $("#origin").autocomplete({
            source: "/nameAutocomplete",
            minLength: 2,
            open: function(e,ui) {
                  var acData = $(this).data('autocomplete');
                  acData
                      .menu
                      .element
                      .find('a')
                      .each(function() {
                          var me = $(this);
                          var regex = new RegExp( '(' + acData.term + ')', 'gi' );
                          me.html( me.text().replace(regex, termTemplate) );
                      });
              }
          });
        });
